.basic-data {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 40px;
    align-items: center;

    $size: 24vw;
    img, .options-overlay, .image-holder {
        width: $size;
        height: $size;
        border-radius: 21px;
    }

    img, .options-overlay {
        position: absolute;
    }

    .image-holder {
        .options-overlay  {
            z-index: 1;
            transition: 200ms;

        }

        .non-visible {
            &:hover {
                background-color: var(--accent-color__700);
                opacity: 0.5;
                filter: brightness(60%);
            }

            & * {
                display: none;
            }
        }

        .visible {
            background-color: hsla(15.1, 97.5%, 22%, 0.9);
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 33px;

            svg {
                filter: drop-shadow(1px 1px 3px #00000094);
            }
        }
    }


    img {
        box-shadow: 0px 24px 43px hsla(0deg, 95.1%, 15.9%, 0.5);
        object-fit: cover;
        object-position: 0px -13vw;
    }

    .title-holder {
        flex: 0.7;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-left: 15px;

        h1 {
            color: var(--primary-color__300);
            font-size: 5.8vw;
        }

        h2 {
            color: var(--accent-color__300);
            font-variant-caps: all-small-caps;
            margin-left: 10px;
            font-weight: revert;
            letter-spacing: 0.07em;
            font-size: 3.8vw;
        }
    }

    .hamburger {
        width: 9vw;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: var(--primary-color__100);
        border: 1px solid hsla(0deg, 0%, 100%, 20%);
        border-radius: 10px;
        box-shadow: 1px 5px 29px hsl(188.1, 99.2%, 6.4%),
          inset 3px 2px 5px hsla(182, 100%, 6%, 40%),
          -1px -1px 9px #fffefe00;
        transition: 400ms;
        cursor: pointer;

        &:hover {
            scale: 1.1;
        }

        svg {
            width: 100%;
            font-size: 25px;
            filter: drop-shadow(2px 2px 2px #00000085);
            color: var(--primary-color__500);
        }
    }
}

@keyframes mega-unzoom {
    0% {
        scale: 50;
    }

    100% {
        scale: 1;
    }
}

