:root {
    --primary-color__900: hsl(178deg,  50%, 11.76%);
    --primary-color__700: hsl(178deg,  50%, 23.00%);
    --primary-color__500: hsl(122deg,  35%, 50.00%);
    --primary-color__300: hsl(117deg,  58%, 78.00%);
    --primary-color__100: hsl(112deg, 100%, 91.00%);

    --accent-color__900: hsl(015deg, 97%, 14.00%);
    --accent-color__700: hsl(015deg, 97%, 32.00%);
    --accent-color__500: hsl(000deg, 57%, 45.30%);
    --accent-color__300: hsl(352deg, 99%, 78.00%);
    --accent-color__100: hsl(000deg, 99%, 98.00%);
}

