
.data-showcase {
    background-color: hsla(0, 58.1%, 50.4%, 0.31);
    width: 70%;
    margin: 16px auto;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 0 3px 8px var(--accent-color__900);
    flex-direction: column;
    padding: 15px 30px;
    font-feature-settings: "smcp", "c2sc";
    font-variant-caps: all-small-caps;
    line-height: 2;
    animation: expand-from-left 500ms;
    position: relative;
    margin-bottom: -8px;

    label span {
        padding-left: 10px;
    }
}

@keyframes expand-from-left {
    0% {
        left: 40px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

